<div class="mat-headline">
  Login
  <mat-divider></mat-divider>
</div>

<form #f="ngForm" class="login-form" (ngSubmit)="onSubmit(f)">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput ngModel type="text" name="email" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput ngModel type="password" name="password" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
