table {
  width: 100%;
}
.center-al {
  text-align: center;
}
.num-col {
  text-align: right;
}

mat-header-cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
}
